# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Virtualenv related
venv/
pip-selfcheck.json

# Distribution / packaging
.Python
build/
lib/

# Django stuff:
*.log
*.pot

# Django auth db
db.sqlite3
db
*.egg-info
*.pot
*.py[co]
.tox/
.DS_Store
.env

# IDE data
.idea/
.vscode/

# Scrapy distributed
dbs/
eggs/
logs/
setup.py
twistd.pid
